// Parties de Bootstrap obligatoires pour modifier le thème
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Modifications des variables
$body-bg: $light;

$theme-colors: map-merge($theme-colors, $colors);
$theme-colors: map-merge($theme-colors, $grays);

// Import de Bootstrap complet
@import "~bootstrap/scss/bootstrap";

// Import des ajouts de BootstrapVue
@import "~bootstrap-vue/src/index";

.conversations-container {
  height: 100vh;
  width: 100vw;

  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;

  >.col-auto, >.col {
    overflow-y: auto;
    max-height: 100%;
  }
}

.start-container {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.stretch-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: 100%;
}
